# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# DB files
*.lock

# Compliation directories
**/bin
**/obj
/C#/Problem1/Problem1/packages
/.vs/projecteuler/v17/.suo
/C#/Problem1/Problem1/.vs/ProjectEuler/v17
/C#/Problem1/Problem1/upgrade-assistant.clef
/C#/Problem1/Problem1.backup/Problem1/upgrade.backup
/C#/Problem1/Problem1.backup

**/.vs
